.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-logo-green {
  font-weight: bold !important;
  color: #586A30 !important;
}

.navbar-logo-orange {
  font-weight: bold !important;
  color: #EB8423 !important;
}

.btn-color-green {
  color: #ffffff !important;
  background-color: #586A30 !important;
}

.btn-color-orange {
  color: #ffffff !important;
  background-color: #EB8423 !important;
}

.navbar-default {
  background-color: #39343A;
  background-image: none;
  background-repeat: no-repeat;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
